---
import fetchApi from "@lib/strapi";
import type { ProfileResponse, Profile } from "@interfaces/profile";
import Layout from "@layouts/Layout.astro";
import { marked } from "marked";

const { id } = Astro.params;

if (!id) return Astro.redirect('/');

const profile = await fetchApi<ProfileResponse>({
  endpoint: `personnes/${id}`,
  wrappedByKey: "data",
}).then((profileResponse) => profileResponse.attributes);
---

<Layout title={profile.Nom}>
  <h1>{profile.Nom}</h1>
  <p set:html={marked.parse(profile.Biographie)} />
</Layout>
