---
import TreeNode from "@components/treeNode.astro";
import { Profile } from "@interfaces/profile";
import Layout from "@layouts/Layout.astro";

const pb = Astro.locals.pb;

const elder = await pb
  .collection("profiles")
  .getList<Profile>(1, 1, { sort: "birthDate" })
  .then((res) => res.items[0]);

const profileId = Astro.url.searchParams.get("profileId") || "";

const profile: Profile | void = await pb
  .collection("profiles")
  .getOne<Profile>(profileId)
  .catch(() => {
    Astro.redirect("/tree");
  });
---

<Layout title={profile ? profile.name : "Arbre généalogique"} connected={true}>
  <div class="flex justify-between relative tree_wrapper overflow-clip">
    <div class="overflow-scroll p-6">
      <TreeNode profile={elder} />
    </div>
    <div
      id="profile-card"
      hx-get={`/profile/partial/${profile ? profileId : ""}`}
      hx-trigger="load"
      hx-swap="innerHTML settle:1s"
      class="absolute top-0 right-0 h-full"
    >
    </div>
  </div>
  <style is:global>
    .tree-node::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      border-left: 1px solid #000000;
    }
    .tree-node:first-child::before {
      height: 50%;
      top: 50%;
    }
    .tree-node:last-child::before {
      height: 50%;
    }
    .tree-node:first-child:last-child::before {
      height: 0;
    }

    #profile_card_content {
      transform: translateX(0);
      transition: transform 0.25s cubic-bezier(0.77, 0.01, 0, 1.76);
    }

    #profile_card_content.htmx-added {
      transform: translateX(100%);
    }
  </style>
</Layout>
