---
import TreeNode from "@components/treeNode.astro";
import { Profile } from "@interfaces/profile";
import Layout from "@layouts/ConnectedLayout.astro";

const pb = Astro.locals.pb;

const elder = await pb
  .collection("profiles")
  .getList<Profile>(1, 1, { sort: "birthDate" })
  .then((res) => res.items[0]);

const profileId = Astro.url.searchParams.get("profileId") || "";

const profile: Profile | void = await pb
  .collection("profiles")
  .getOne<Profile>(profileId)
  .catch(() => {
    Astro.redirect("/tree");
  });
---

<Layout title={profile ? profile.name : "Arbre généalogique"}>
  <div class="flex justify-between">
    <div class="overflow-scroll">
      <TreeNode profile={elder} />
    </div>
    <div
      id="profile-card"
      hx-get={`/profile/partial/${profile ? profileId : ""}`}
      hx-trigger="load"
      class=""
    >
    </div>
  </div>
</Layout>
