body {
  --main-blue: #0534a3;
  --light-blue: #f4fcff;
  --secondary-yellow: #fbd374;
  --text-color: #080708;
  --bg-color: #fdffff;
}

a {
  color: var(--main-blue);
  text-decoration: none;
}

a:visited {
  filter: brightness(0.5);
}

@media (max-width: 760px) {
  .hidden-mobile {
    display: none;
  }

  .visible-mobile {
    display: block;
  }
}
