---
import NavBar from "@components/navBar.astro";
import "@fontsource/dm-serif-display";
import "@fontsource/josefin-sans";

interface Props {
  title: string;
  connected: boolean;
}

const { title, connected } = Astro.props;
---

<!doctype html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Le site de généalogie de la famille d'Hébrail"
    />
    <meta name="robots" content="noindex" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link rel="icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#0534a3" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="/styles.css" />
    <title>{title}</title>
  </head>
  <body
    class="overflow-x-clip bg-white min-h-screen flex flex-col"
    x-data="{ menuOpen : false }"
  >
    <NavBar connected={connected} />
    <main
      hx-indicator="#spinner"
      class="grow flex flex-col items-stretch bg-discreet-cream"
      x-on:touchstart.passive="menuOpen = false"
    >
      <slot />
    </main>
    <div
      id="spinner"
      class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 htmx-indicator p-4 rounded-lg shadow-lg bg-white"
    >
      <div
        class="rounded-full border-4 border-gray-100 border-t-royal-blue animate-spin h-8 w-8"
      >
      </div>
    </div>
  </body>
</html>

<style>
  #spinner {
    opacity: 0;
    transition: all 100ms ease-in;
    padding: 0;
    height: 0;
    width: 0;
    transition-delay: 400ms;
  }

  .htmx-request#spinner {
    height: 62px;
    width: 62px;
    padding: 16px;
    opacity: 1;
  }
</style>
