---
import type { Profile } from "@interfaces/profile";

interface Props {
  profile: Profile;
}

const { profile } = Astro.props;

export const partial = true;
---

<div class="h-full w-[50vw]">
  <div class="bg-white shadow-lg rounded-lg p-4 relative">
    <slot />
  </div>
</div>
<script is:inline define:vars={{ id: profile.id, personName: profile.name }}>
  document.title = personName;
  window.history.pushState({}, "", `/tree?profileId=${id}`);
</script>
