---
import type { Article } from "@interfaces/article";
import Layout from "@layouts/Layout.astro";

const pb = Astro.locals.pb;

const { id } = Astro.params;

const article: Article | undefined = await pb
  .collection("articles")
  .getOne<Article>(id)
  .catch(() => undefined);

if (!article) return Astro.redirect("/404");
---

<Layout title={article.title} connected={true}>
  <h1>{article.title}</h1>
  <div set:html={article.description} />
</Layout>
