---
import Layout from '@layouts/Layout.astro'
import pb from '@lib/pb'

const {id} = Astro.params;

const article = await pb.collection('articles').getOne(id);

---

<Layout title={article.title}>
  <h1>{article.title}</h1>
  <div set:html={article.description} />
</Layout>