---
import type { Profile } from "@interfaces/profile";

const pb = Astro.locals.pb;

interface Props {
  profile: Profile;
}

const { profile } = Astro.props;

const imageUrls = profile.photos.map((imageId) => {
  return pb.files.getUrl(profile, imageId, { thumb: "100x250" });
});
---

<div
  class="flex overflow-x-auto scrollbar-hide relative gap-2 h-36 items-center"
>
  {
    imageUrls.map((image) => {
      const fileName = image.split("/").pop().split("?")[0];
      return (
        <div class="size-36 relative group shrink-0">
          <img
            src={image}
            alt={profile.name}
            class="object-contain absolute top-1/2 left-0 right-0 -translate-y-1/2"
          />
          <button
            type="button"
            class="absolute top-0 right-0 p-1 bg-red-500 text-white group-hover:opacity-100 opacity-0 aspect-square"
            onclick={`const input = document.getElementById('deletePhotos_input'); input.value = input.value + '${fileName}' + ';'; this.style.opacity = '100%'`}
          >
            <i class="ph ph-trash text-white" />
          </button>
        </div>
      );
    })
  }
  <input type="hidden" name="deletePhotos" id="deletePhotos_input" />
  <label
    for="photos"
    class="flex items-center justify-center size-36 bg-gray-200 text-gray-500 cursor-pointer min-w-0 shrink-0"
  >
    Ajouter une image
  </label>
  <input
    type="file"
    id="photos"
    name="photos"
    accept="image/vdn.mozilla.apng, image/jpeg, image/png, image/gif, image/webp"
    multiple
  />
</div>
<div class="text-sm text-gray-500 text-center">
  Pour réorganiser les images, allez sur l'<a
    class="underline hover:text-black"
    href="https://api.genealogie.dhebrail.fr/_/">interface admin</a
  >
</div>
