body {
  --main-blue: #0534a3;
  --light-blue: #f4fcff;
  --secondary-yellow: #fbd374;
  --text-color: #080708;
  --bg-color: #fdffff;
}

.welcome_screen {
  height: calc(100vh - 64px - 16px);
}

.tree_wrapper {
  height: calc(100vh - 64px);
}

.bg_discover_landscape {
  background-image: url('/images/familyBG.jpeg');
  background-size: cover;
}

@media (max-width: 760px) {
  .hidden-mobile {
    display: none;
  }

  .visible-mobile {
    display: block;
  }
}

.pell h1 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.pell h2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}